.navbar::before {
  top: 58%;

}

.modal {
  justify-content: center;
  align-content: center;
}

.login-section {
  width: 100%;
  display: grid;
  justify-content: center;
  text-align: center;
}

.login-section h3 {
  color: #F28C28;
  justify-content: center;
}

.login-section input {
  border-radius: 60px;
  border: solid 1px #F28C28;
  width: 20vw;
  margin: 10px;
}

.login-section button,
.register-section button {
  background-color: #F28C28;
  color: black;
  border-radius: 60px;
  border: none;
  width: 20vw;
  margin: 10px;
}

.login-section button:hover,
.register-section button:hover {
  background-color: #F28C28;
  color: white;
}

.btn-close {
  filter: invert(36%) sepia(78%) saturate(563%) hue-rotate(17deg) brightness(95%) contrast(85%);
}

.btn-close:hover {
  filter: invert(55%) sepia(90%) saturate(700%) hue-rotate(10deg) brightness(90%) contrast(95%);
}

.botoes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
}

#createAccountButton {
  align-self: center;
  background-color: #F28C28;
  color: #3b2c25;
  text-decoration: none;
  border-radius: 0px 0px 8px 8px;
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: 0;
}

/* #createAccountButton:hover {
  background-color: #8B5E40;
} */

#loginButton {
  align-self: center;
  /* padding: 6px 43.6px; */
  background-color: #f28d283b;
  color: #3b2c25;
  text-decoration: none;
  border: solid 1px #F28C28;
  border-radius: 8px 8px 0px 0px;
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-bottom: 0;
}

#loginButton:hover {
  background-color: #F28C28;
  color: #F3E3CF;
}