@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

body {
    margin: 0;
    background-color: #F8F0E6;
    
}

.header {
    background-color: #FFF8EC;
    display: flex;
    font-family: 'Playfair Display SC';
    font-weight: bold;
}



.header a {
    text-decoration: none;
    color: #453123;
}


/* Barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F8F0E6;
    /* Fundo bege */
    border-bottom: 1px solid #e0d6c5;
    /* Linha discreta na parte inferior */
    position: relative;
}

.navbar::before {
    content: "";
    position: absolute;
    top: 56.5%; /* Centraliza a linha verticalmente */
    left: 0;
    width: 100%;
    height: 1.6px; /* Espessura da linha */
    background-color: #3b2c25; /* Cor marrom */
    transform: translateY(-50%);
    z-index: 1; /* Coloca a linha atrás do conteúdo */
}

.logo img {
    height: 60px;
    position: relative;
    z-index: 3;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #3b2c25;
    /* Cor marrom */
    text-transform: uppercase;
    position: relative;
}

/* Destaque no menu */
.menu .highlight a {
    width: 85px;
    text-align: center;
    color: #F8F0E6 !important;
    background-color: #3b2c25 !important;
    /* border-radius: 20px; */
    position: relative;
    z-index: 2;
    padding: 10px 20px;
    border-radius: 100px 100px 0 0; /* Cria o semicírculo no topo */
    transform: translateY(10px); /* Ajuste para alinhar à linha */
    top: -24.5px;
}

/* Ícones */
.icons {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.icons .icon {
    width: 30px;
    height: 30px;
    background-size: cover;
    margin: 0 5px;
    cursor: pointer;
    background-color: #f9f3eb;
}

.icons .user-icon {
    background-image: url('../images/complementos/icone-perfil.png');
}

.icons .cart-icon {
    background-image: url('../images/complementos/carrinho.png');
}

.icons .logout-icon {
    background-image: url('../images/complementos/icon-sign-out.svg');
}

.auth-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-input {
    padding: 8px;
    border-radius: 8px;
    border: none;
    outline: none;
    width: 200px;
    font-size: 14px;
}

.auth-button {
    padding: 8px 20px;
    background-color: #FFF8EC;
    color: #6F4E37;
    border: solid 1px #6F4E37;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.auth-button:hover {
    background-color: #6F4E37;
    color: #FFF8EC;
}

.search-button {
    padding: 8px 20px;
    background-color: #6F4E37;
    color: #FFF8EC;
    border: solid 1px #6F4E37;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.search-button:hover {
    background-color: #6F4E37;
    color: #FFF8EC;
}