@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


.destaque {
    display: grid;
    grid-template-columns: 800px max-content;
    background-color: #F3E3CF;
    margin: 0;
    justify-content: space-between;
}

.texto-destaque {
    align-items: center;
    padding-top: 100px;
    padding-left: 80px;
}

.texto-destaque h1 {
    font-family: 'Playfair Display', serif;
}
.texto-destaque p {
    font-family: 'Playfair Display SC', serif;
}
.destaque img {
    width: max-content; 
    height: max-content; 
   
}
.section-title {
    position: relative;
    width: 80%;
    margin: auto;
    
}
.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel img {
    width:212px ;
    height: 163px ;

}

  .carousel-item {
    flex: 0 0 33.33%; /* Exibe 3 itens por vez */
    text-align: center;
    background-color:#F3E3CF;
    padding: 20px;
    width: max-content;
   
   
  }
  .carousel-item h3, p{
    width: max-content;
    justify-self: center;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 300px;
}

.popup h2 {
    text-align: center;
    margin-bottom: 20px;
}
