@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

main{
  font-family: 'Playfair Display', serif;
}

.caminhos{
  display: flex;
  background-color: #6F4E37;
  color: #F3E3CF;
  width: 25vw;
  margin-left: 0px;
  margin-top: 10px;
  font-family: 'Playfair Display';
  font-size: 1.3rem;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px; 
}

.breadcrumb-item a{
  text-align: center;
  align-self: center;
  color: #ffffff;
  margin-left: 20px;
}

.grid-produtos {
  display: flex;
  grid-template-columns:  repeat(3, minmax(1fr, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
  gap: 30px;
  justify-content: flex-start;
  padding: 20px;
  margin: 60px 100px;
  /* 60px superior/inferior, 100px laterais */
}

.elemento-produto {
  display: grid;
  grid-template-columns: 160px auto;
  grid-template-rows: auto 1fr;
  background-color: #F3E3CF;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.elemento-produto:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.elemento-produto img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.produto-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
}

.produto-info h3 {
  margin: 0;
  font-size: 1.12rem;
  font-family: 'Playfair Display', serif;
  color: #6F4E37;
}

.produto-info .preço {
  margin: 0;
  font-size: 0.88rem;
  font-weight: 700;
  color: #6F4E37;
}

.botoes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
}

.botao-cart {
  align-self: center;
  padding: 6px 30px;
  background-color: #6F4E37;
  color: #F3E3CF;
  text-decoration: none;
  border-radius: 0px 0px 8px 8px;
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.botao-cart:hover {
  background-color: #8B5E40;
}

.botao-detalhes {
  align-self: center;
  padding: 6px 43.6px;
  background-color: #F3E3CF;
  color: #6F4E37;
  text-decoration: none;
  border: solid 1px #6F4E37;
  border-radius: 8px 8px 0px 0px;
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.botao-detalhes:hover {
  background-color: #6F4E37;
  color: #F3E3CF;
}

/* ---------------------------------------- */
/* Popup                                    */
/* ---------------------------------------- */
.popup-comida {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.popup-overlay-comida {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-comida h2 {
  text-align: center;
  margin-bottom: 20px;
}

.popup-comida button {
  display: block;
  margin: auto;
  padding: 10px 20px;
  background-color: #f3e3cf;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}