@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


.grid-padarias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    justify-content: center;
    padding: 20px;
    margin: 50px 100px; /* 50px superior/inferior, 100px laterais */
}

.elemento-padaria {
    display: grid;
    grid-template-columns: 156px auto;
    grid-template-rows: auto 1fr;
    background-color: #F3E3CF;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.elemento-padaria:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.elemento-padaria img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.padaria-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
}

.padaria-info h3 {
    margin: 0;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    color: #6F4E37;
}

.padaria-info .info, .padaria-info .tempo {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.botao-cardapio {
    align-self: flex-start;
    padding: 8px 30px;
    background-color: #6F4E37;
    color: #F3E3CF;
    text-decoration: none;
    border-radius: 8px;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    transition: background-color 0.3s;
}

.botao-cardapio:hover {
    background-color: #8B5E40;
}
